{% extends 'log_monitor/base.html' %}
{% load replace_withspace %}
{% block title %}Cron Logs{% endblock %}

{% block content %}
    <body class="sb-nav-fixed">
        {% include "log_monitor/topnav.html" %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% include "log_monitor/sidenav.html" %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Product Info</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Product Info</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Category Overview for {{retailer|title|replace_withspace}}
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Yesterday's Count</th>
                                            <th>Today's Count</th>
                                            <th>Variance</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Category</th>
                                            <th>Yesterday's Count</th>
                                            <th>Today's Count</th>
                                            <th>Variance</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for x in cat_counts %}
                                        <tr>
                                            <td>{{ x.0 }}</td>
                                            <td>{{ x.1 }}</td>
                                            <td>{{ x.2 }}</td>
                                            <td class="text-red">{{ x.3 }}%</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Products Info for {{retailer|title|replace_withspace}}
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <tbody>
                                            {% for a in last_10 %}
                                                <tr>
                                                    <th>Date</th><td>{{a.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Country Code</th><td>{{a.2}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Currency</th><td>{{a.3}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source ID</th><td>{{a.4}}</td>
                                                </tr>
                                                <tr>
                                                    <th>EAN</th><td>{{a.5}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Brand</th><td>{{a.6}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Title</th><td>{{a.7}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Price</th><td>{{a.8}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Was Price</th><td>{{a.9}}</td>
                                                </tr>
                                                <tr>
                                                    <th>In Stock</th><td>{{a.11}}</td>
                                                </tr>
                                                <tr>
                                                    <th>On Promo</th><td>{{a.12}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Promotion Data</th><td>{{a.13}}</td>
                                                </tr>
                                                <tr>
                                                    <th>SKU URL</th><td>{{a.14}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Image URL</th><td>{{a.15}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Bundled</th><td>{{a.16}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Master SKU</th><td>{{a.17}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Category</th><td>{{a.18}}</td>
                                                </tr>
                                            {% endfor %}


                                    </tbody>
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            {% for x in column_headers %}-->
<!--                                                <tr>-->
<!--                                                    <th>{{ x }}</th>-->
<!--                                                <tr>-->
<!--                                            {% endfor %}-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
                                    <tbody>
<!--                                        <tr>-->
<!--                                            {% for x in last_10 %}-->
<!--                                                <td>{{ x }}</td>-->
<!--                                            {% endfor %}-->
<!--                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
{% endblock %}